* {
  font-family: 'Montserrat','PT Sans', sans-serif;
}

* :hover {
  text-decoration: none !important;
}

body {
  background-color: #231D22;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5F6569;
  scroll-behavior: smooth;
}

/* Navbar.js */
.navBar {
  background-color: rgb(59, 49, 58)!important;
  opacity: 0.8;
}

@media only screen and (min-width: 500px) {
  .navBar {
    height:4rem;
    padding: 0 7.5rem !important;
  }
  #navLogo {
    width: auto;
    height: 3.5rem;
    position: absolute;
    left: 45vw;
    top: 3px;
  }
}

@media only screen and (max-width: 500px) {
  .navBar{
    opacity:0.6;
  }

  #navLogo {
    width: auto;
    height: 3rem;
    position: absolute;
    left: 3vw;
    top: 2px;
  }
}

.navbar-light .navbar-nav .nav-link-navbar-nav {
  color:#7B8283 !important;
}

.searchIcon {
  color:#b3b7bb;
  position: relative;
  left: -36px;
}

.searchBar {
  height:1.9rem !important;
  padding-right: 2.3rem !important;
}



/* Carousel.js */
.Carousel {
  height: 25rem;
  overflow: hidden;
  background-color: #99D5CE;
}

.carouselItem {
  height: 100% !important;
}

.carouselImg {
  position: relative;
  bottom: 50px;
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 980px) {
  .carouselImg {
    position: relative;
    top: 0px;
    height:100%;
  }
  .Carousel {
    height: 24rem;
  }
}

@media only screen and (max-width: 770px) {
  .carouselImg {
    position: relative;
    top: 0px;
    min-height:15rem;
    max-width: 50rem;
  }
  .Carousel {
    height: 15rem;
  }
}

.carouselCaption {
  position:relative;
  top: 250px;
}


/* Sidebar */
/* .sideBar {
  min-height: 100vh;
  padding: 10px;
  background-color: rgb(167, 167, 167);
} */

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar {
  background-color: #99D5CE;
  color: #231D22;
  transition-duration: 0.5s;
  border-right: 4px solid rgb(216, 35, 93);
  outline:none;
  width: 150px;
  padding-right: 0;
}

#sidebar a {
  color: #231D22;
}

#sidebar ul :hover {
  color: rgb(216, 35, 93);
}

#sidebar .active ul {
  margin-left: 0px;
}

#sidebar.active {
  min-width: 5rem;
  max-width: 5rem;
  text-align: center!important;
}

.sidebar-header {
  background-color: rgb(216, 35, 93);
  text-align:center;
}

.sideBarBtn {
  background-color: #231D22!important;
  color: #99D5CE !important;
  outline: none;
}

.sideBarBtn :hover {
  color: rgb(216, 35, 93) !important;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar.active .sidebar-header i > span {
  display: none;
}
#sidebar.active .sidebar-header strong {
  display: block;
}


#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.8em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 2.2em;
  margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
  padding: 10px !important;
  margin-bottom: 2rem;
}

/* Changing the arrow position to bottom center position, 
  translateX(50%) works with right: 50% 
  to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

/* Main Content */
.mainContent {
  background-color: #231D22;
  min-height: 100vh;
  border-top: 5px solid rgb(216, 35, 93);
}

.loadMoreBtn {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  height: 2.4rem;
  width: 20%;
}

.list-group-item {
  height: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Cards */

.movieCardContainer {
  max-height: 130rem;
  overflow-x: scroll;
}

.movieCard {
  margin: 0.7rem 0.7rem;
  border: none;
  background-color: rgba(255,255,255,0.5) !important;
}

.cardImg {
  height: 260px;
  width: 100%;
}

.cardFooter{
  height: 2rem;
}

.flip-card {
  background-color: transparent;
  width:120px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  min-width: 200px !important; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(236, 236, 237);
  color: rgb(50, 50, 50);
  transform: rotateY(180deg);
  overflow-y: scroll;
  text-align: left;
  font-size: 0.9rem;
}

/* Footer */
.social-af > i {
  color: #9ce1ad;
}

.social-btn > i:hover {
  transform: scale(1.3);
  transition-duration: 100ms;
}

.social-af :nth-child(1) {
  margin-right: 10%;
}

.social-af :nth-child(2) {
  margin-right: 10%;
}

.footerContainer {
  border-top: 5px solid #99D5CE;
}

.footer {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #231D22!important;
  border-top: 5px solid #99D5CE;
}

.footer-h5 {
  color: #99D5CE;
  
}

.footer a:hover {
  text-decoration: none!important;
  color: rgb(116, 163, 158) !important;
}

.footer a {
  text-decoration: none;
  color: #99D5CE;
}

.tmdblogo {
  max-width: 8rem;
}

/* .FilterByRating {
  width: 1rem;
  border-width: 1rem;
  border: 3px solid rgb(216, 35, 93);
} */

/* Modal */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}